<header>
    <nav class="w-full  flex justify-between items-center text-white mb-2 p-2">
        <a 
        href="/" 
        class="text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 to-cyan-500 "
        >
        PagePilot
        </a>
        <ul class="flex space-x-2 bg-gradient-to-r from-indigo-500 to-cyan-500 p-2 rounded-md divide-x">
            <li><a href="/authors" class="px-2">Authors</a></li>
            <li><a href="/books" class="px-2">Books</a></li>
        </ul>

    
    </nav>

    <hr/>
</header>