<section class="w-full relative py-2 md:px-4 max-md:overflow-hidden ">


    <div class="flex flex-col md:flex-row w-full jusify-between items-center p-2 xl:h-screen">
        <div class="absolute bg-indigo-500  size-[20%] blur-[100px] -z-[5] left-[5rem] max-md:hidden top-[5rem] "></div>


     <div class="absolute bg-pink-500   size-[20%] -z-[5] left-[20rem] blur-[100px] top-[10rem] max-md:hidden "></div>

     <!-- <div class="absolute bg-gradient-to-r from-indigo-500 to-cyan-500 md:hidden  max-md:size-[50%] -z-[5]  right-0 blur-[300px] "></div> -->

        <div class="w-full md:w-1/2 flex flex-col max-md:items-center ">
            <h2 class="font-bold text-2xl lg:text-5xl text-gray-800 mb-4 max-md:text-center">
                Discover, Add, and Explore <br class="lg:block hidden"/>Books & Authors
            </h2>
            <p class="max-w-md text-gray-500 font-medium text-md lg:text-lg mb-6 max-md:text-center">
                Your go-to platform for building and sharing your favorite literary collections. Whether you're an author or a book lover, Pilot lets you curate and showcase the stories that inspire you.
            </p>
            <a href="/books" class="inline-block bg-gradient-to-r from-indigo-500 to-cyan-500 text-white font-semibold py-3 px-6 rounded-md shadow-lg hover:bg-gradient-to-l w-[10rem] transition-all ease-in-out duration-300 ">
                Explore Books
            </a>
        </div>

    
        
        
        
    </div>


    <div class="w-full flex  bg-white p-2  mt-5 max-md:flex-col">
        <div class="w-1/2 max-md:w-full">
            <h2 class="font-bold text-2xl lg:text-5xl text-gray-800 mb-4 leading-[50px]">Explore Your Reading<br class="md:block hidden"/> World</h2>
            <div class="w-[60%] h-2 bg-gradient-to-r from-blue-400 to-pink-400 mb-2"></div>
            <p class="mb-4 md:max-w-[300px] xl:max-w-md">
                Discover a world of books with ease! Our site offers seamless features to enhance your reading experience.
            </p>
        </div>

        <div class="flex flex-col items-center justify-between w-1/2 max-md:w-full gap-y-3">

            <div class="w-full flex hover:bg-gradient-to-r from-indigo-500 to-cyan-500 p-2 rounded-md group transition-all ease-in-out duration-300 items-center gap-3">

                <div class="bg-pink-400 p-1 rounded-full size-[2rem] flex justify-center items-center">
                    <i class="fa-solid fa-plus " style="color: #ffffff;"></i>
                </div>
                <div class="flex flex-col">
                    <h3 class="font-bold  group-hover:text-white  ">Add New Books</h3>
                    <p class="group-hover:text-white ">Easily add your favorite books to our growing collection.</p>
                </div>
            </div>


            <div class="w-full flex hover:bg-gradient-to-r from-indigo-500 to-cyan-500 p-2 rounded-md group transition-all ease-in-out duration-300 items-center gap-3">

                <div class="bg-pink-400 p-1 rounded-full size-[2rem] flex justify-center items-center">
                    <i class="fa-solid fa-boxes-stacked" style="color: #ffffff;"></i>
                </div>
                <div class="flex flex-col">
                    <h3 class="font-bold  group-hover:text-white  ">Curate Collections</h3>
                    <p class="group-hover:text-white ">Organize books into custom collections that resonate with you</p>
                </div>
            </div>


            <div class="w-full flex hover:bg-gradient-to-r from-indigo-500 to-cyan-500 p-2 rounded-md group transition-all ease-in-out duration-300 items-center gap-3">

                <div class="bg-pink-400 p-1 rounded-full size-[2rem] flex justify-center items-center">
                    <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                </div>
                <div class="flex flex-col">
                    <h3 class="font-bold  group-hover:text-white  ">Explore Authors</h3>
                    <p class="group-hover:text-white ">Discover authors from various genres and regions.</p>
                </div>
            </div>


        </div>
    </div>


    <div class="w-full p-2 mt-4 bg-gradient-to-r from-blue-200 to-pink-200 flex flex-col">
        <h2 class="font-bold text-2xl">Trending Books </h2>

        <div class="w-full flex mt-4 ">
            <div class="flex mx-auto w-full justify-around flex-wrap xl:gap-2 gap-4">
                <img src="/book1.jpeg" alt="Book 1" class="w-[10rem] rounded-md shadow-lg">
                <img src="/book2.jpeg" alt="Book 2" class="w-[10rem] rounded-md shadow-lg">
                <img src="/book3.jpeg" alt="Book 3" class="w-[10rem] rounded-md shadow-lg">
                <img src="/book4.jpeg" alt="Book 2" class="w-[10rem] rounded-md shadow-lg">
                <img src="/book5.jpeg" alt="Book 3" class="w-[10rem] rounded-md shadow-lg hidden xl:block">
            </div>
        </div>

    </div>


</section>