<div class="w-full flex justify-between p-2 items-center ">

    <form action="/authors" method="get">
        
    <input type="text" name="name" placeholder="Search..." class="ring-1 ring-indigo-600 rounded-md p-1 mt-2 focus:outline-none " value="<%=search %>" >
    <button type="submit" class="bg-indigo-500 text-white p-1 rounded-md max-md:mt-2 ">
        search
    </button>
    </form>

    <a href="/authors/new" class="bg-cyan-500 text-white p-2 rounded-md shadow-lg whitespace-nowrap ">Add Author</a>
</div>

<hr/>

<div class="w-full mt-5 flex justify-center ">
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6 p-4">
        <% authors.forEach(author => { %>
            <div class="flex flex-col items-center">
                <img src="<%= author.ProfilePicURL %>" alt="book" class="w-40 h-60 object-cover rounded-md shadow-lg">
            </div>
        <% }) %>
    </div>
</div>
